<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.4/fetch.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/javascript.js' %}"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function () {
    const textInput = document.getElementById('searchInput');
    let timeoutId;
    loadEmployeesByPosition(null, 'all', 0)
    function handleInput(event) {
        clearTimeout(timeoutId);
        timeoutId = setTimeout(function () {
            if (event.target.value.trim().length > 0) {
                loadEmployeesByPosition(event, null, 0);
            } else {
                    }
                }, 500);
            }

        if (textInput) {
            textInput.addEventListener('input', handleInput);
        }
    });
    </script>
    <title>{% block title %}Test Task ANC{% endblock %}</title>
</head>
<body>


    <div id="content" class="container">
        <div class="home">
            <a href="/" class="home">Home</a>
        </div>
        <div class="search-container">
            <input type="text" class="form-control" id="searchInput" placeholder="Search...">
        </div>
        <div id="resultsInfo"></div>
        <div id="mainTable"></div>
        <div id="pagination"></div>
    </div>
</body>
</html>
